.background-image {
  z-index: 1;
}

.background-image:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("/background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.6;
  filter: alpha(opacity=60);
  height: 100%;
  width: 100%;
}

.signup-box .brand-name {
  margin-top: 3rem;
  color: #0051ff;
}

.nav-item {
  width: 50%;
  height: 4rem;
  cursor: pointer;
}

.nav-item > .nav-link {
  width: 100%;
  height: inherit;
  text-align: center;
  background-color: #f1eeee;
  font-size: 1.8rem;
  border: unset;
  border-top-left-radius: unset;
  border-top-right-radius: unset;
}

.nav-item > .nav-link.active,
.nav-item > .nav-link.active:hover {
  font-weight: 500;
  color: #0051ff;
}
